html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: NightBits;
  src: url(/public/NightBits.otf);
  src: url(/public/NightBits.woff);
  src: url(/public/NightBits.ttf);
}

@import url("https://use.typekit.net/idw8geh.css");


/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;



h1, h2, h3, h4 {
  font-family: prohibition,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #231f20;
  
}

/* NAVBAR */
#global-menu-desktop {
  @apply bg-primary;
}

footer {
  @apply bg-primary;
  @apply text-white;
  @apply p-5;
  @apply mt-8;
  @apply relative;
}

footer ul {
  @apply list-none;
  @apply text-left;
}

footer p {
  @apply text-center;
}

/* MOBIL MENU CONTAINER */
.mobil-menu-container {
  @apply bg-primary;
  @apply h-screen;
  @apply w-full;
  @apply z-50;
  @apply absolute;
  @apply -left-full;
  @apply transition-all;
  @apply mt-14;
  @apply px-3;
  @apply py-8;
}

.mobil-menu-container-active {
  @apply bg-primary;
  @apply h-screen;
  @apply w-full;
  @apply z-50;
  @apply absolute;
  @apply left-0;
  @apply transition-all;
  @apply mt-14;
  @apply px-3;
  @apply py-8;
}

/* DROPDOWN LIST */
.dropdown-list {
  @apply absolute;
  @apply flex;
  @apply flex-col;
  @apply hidden;
  @apply bg-primary;
  @apply text-white;
  @apply list-none;
  @apply ml-4;
  @apply z-50;
}

.dropdown-list-active {
  @apply absolute;
  @apply flex;
  @apply flex-col;
  @apply visible;
  @apply bg-primary;
  @apply text-white;
  @apply list-none;
  @apply ml-4;
  @apply z-50;
  @apply mt-3;
}

.dropdown-list li,
.dropdown-list-active li {
  @apply text-left;
  @apply cursor-pointer;
  @apply py-2;
  @apply pr-8;
  @apply pl-2;
}

/* USER LINKS */
.user-links {
  @apply absolute;
  @apply hidden;
  @apply bg-primary;
  @apply text-white;
  @apply z-50;
  @apply list-none;
  @apply text-left;
}

.user-links-active {
  @apply absolute;
  @apply visible;
  @apply bg-primary;
  @apply text-white;
  @apply z-50;
  @apply list-none;
  @apply text-left;
}

/* USER LINKS */
.user-links-active #signedin-links a,
.user-links-active #signedout-links a,
.user-links-active #admin-links a {
    @apply text-white;
    text-decoration: none;
}

.user-links-active #signedin-links li,
.user-links-active #signedout-links li,
.user-links-active #admin-links li {
    @apply p-3;
    @apply text-left;
    @apply m-0;
    @apply cursor-pointer;
}

.user-links #admin-links #add-product,
.user-links-active #admin-links #add-product {
    @apply bg-secondary-100;
}



/* MOBILE NAV */
#logo {
  grid-area: logo;
}

#menu-btn {
  grid-area: burger;
}

#user-tools {
  grid-area: tools;
}

#searchbar-container {
  grid-area: searchbar;
}

header {
  margin-top: 5px;
  display: grid;
  row-gap: 5px;
  grid-template-columns: 0.25fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
                      ". logo burger"
                      "searchbar searchbar tools";
}

#menu-btn {
  @apply mt-auto;
  @apply ml-auto;
  @apply mb-auto;
  @apply mr-4;
  @apply cursor-pointer;
  @apply outline-none;
  @apply border-none;
  @apply bg-transparent;
}

#menu-btn div {
  @apply bg-black;
  @apply w-8;
  @apply my-1;
  @apply mx-0;
  @apply h-1;
  @apply rounded;
}

#logo {
  @apply max-w-full;
  @apply flex;
  @apply mx-auto;
  @apply h-8;
  @apply w-logo;
  @apply my-auto;
}

#logo a {
  @apply mt-auto;
}


#user-tools {
  @apply max-w-full;
  @apply mx-auto;
}

#user-tools #user-tools-list {
  @apply list-none;
  @apply flex;
  @apply mx-auto;
}

#searchbar-container {
  @apply max-w-full;
  @apply my-auto;
  @apply flex;
  @apply flex-col;
}

#searchbar-container #searchbar {
  @apply py-3;
  @apply px-1;
  @apply w-95;
  @apply border-1;
  @apply border-gray-800;
  @apply rounded;
}

#logo img {
  @apply m-0;
  @apply p-0;
  @apply cursor-pointer;
  @apply flex;
}

#user-tools img {
  @apply w-usertools;
  @apply m-0;
  @apply p-0;
  @apply cursor-pointer;
  @apply mx-2;
}

#menu-liste {
  @apply list-none;
  @apply text-left;
}

#menu-liste li {
  @apply px-0;
  @apply py-3;
}


/* DROPDOWN */
/* CLICKS */
#menu-liste .nav-link:active {
  @apply bg-secondary-100;
  @apply text-white;
  @apply font-semibold;
}

#dropdown-liste .dropdown-link,
#menu-liste .nav-link {
  @apply font-normal;
  @apply text-white;
}

#dropdown-liste .dropdown-link:active {
  @apply text-white;
  @apply font-semibold;
}

.user-links-active .user-links-con,
.user-links .user-links-con {
  @apply m-0;
  @apply p-0;
}

/* SEARCH ENGINE */
#search-result-container {
  @apply w-full;
  @apply relative;
}
#search-results {
  @apply absolute;
  @apply z-10;
  @apply w-80;
  @apply max-w-full;
}

#search-results li{
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply bg-white;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  @apply px-4;
  @apply h-24;
}

#search-results li:first-child {
  @apply border-t-0;
}

#search-results li p{
  flex-basis: 70%;
}

#search-results li img{
  @apply h-10;
  @apply w-auto;
  @apply m-auto;
  @apply py-0;
  @apply px-4;
}

#search-results {
  max-height: 80vh;
  overflow-y: scroll;
  width: 100%;
}

#search-results * {
  @apply text-secondary-200;
  font-family: prohibition,sans-serif;
  font-weight: 400;
  font-style: normal;
}


@media only screen and (max-width: 480px) {
  #user-tools {
    @apply mr-3;
  }

  #cart-counter {
      @apply ml-2;
  }
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
  #logo {
      grid-area: logo-desktop;
  }

  #user-tools {
      grid-area: user-tools-desktop;
  }

  #searchbar-container {
      grid-area: searchbar-desktop;
  }

  #global-menu-desktop {
      grid-area: menu-desktop;
  }

  header {
      margin-top: 0.7em;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 
                          "logo-desktop searchbar-desktop user-tools-desktop"
                          "menu-desktop menu-desktop menu-desktop";
  }

  .user-links-active li,
  .user-links li {
      padding: 10px 50px 10px 15px;
      text-align: left;
  }

  #logo {
      max-width: 100%;
      position: relative;
      float: left;
      display: flex;
      margin-left: 1.5em;
  }

  #user-tools {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

  #user-tools #user-tools-list {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
  }

  #searchbar-container {
      max-width: 100%;
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      justify-content: center;
  }

  #searchbar-container #searchbar {
      padding: 10px 5px;
      width: 15rem;
  }

  #logo img {
      max-width: 10rem;
      margin: 0;
      padding: 0;
      cursor: pointer;
  }

  #user-tools img {
      max-width: 3rem;
      margin: 0;
      padding: 0;
      cursor: pointer;
      margin: 0 10px;
  }

  #user-tools #cart {
      margin-left: 20px;
  }

  #global-menu-desktop {
      background-color: #00A14B;
      margin: 0;
      padding: 0;
      margin-top: 1em;
  }

  #menu-liste-desktop {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
  }

  #menu-liste-desktop .nav-link-desktop {
      margin: 0;
      line-height: 45px;
      padding-left: 20px;
      padding-right: 20px;
      color: white;
      cursor: pointer;
  }

  #menu-liste-desktop .nav-link-desktop:hover {
      background-color: #1C75BC;
      color: white;
      font-weight: 600;
  }

  #menu-liste-desktop .nav-link-desktop:active {
      background-color: #1C75BC;
      color: white;
      font-weight: 600;
  }

  #dropdown-liste-desktop {
      list-style: none;
  }

  #dropdown-liste-desktop .dropdown-link-desktop {
      font-weight: 400;
  }

  #dropdown-liste-desktop .dropdown-link-desktop:hover {
      background-color: #1C75BC;
      color: white;
      font-weight: 600;
  }

  /* DROPDOWN LIST */
  .dropdown-list {
      margin-top: 0px;
  }

  .dropdown-list-active {
      margin-top: 0px;
  }

  /* USER LINKS */
  .user-links-active #signedin-links li,
  .user-links-active #signedout-links li,
  .user-links-active #admin-links li {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-top: 10px;
      text-align: left;
      margin: 0;
  }

  .user-links-active #signedin-links,
  .user-links-active #signedout-links,
  .user-links-active #admin-links {
      margin: 0;
      padding: 0;
  }

  
}

@media only screen and (max-width: 768px) {
  #searchbar {
      margin-left: 10px;
  }
}

@media only screen and (min-width: 992px) {
  #logo {
      margin-left: 3em;
  }

  #logo img {
      max-width: 13rem;
  }

  #searchbar-container #searchbar {
      padding: 10px 5px;
      width: 100%;
  }

  #user-tools img {
      max-width: 3rem;
  }

}





/* INDEX */
/* HERO IMAGE */
#hero-image {
  max-width: 100%;
}

#hero-image img {
  max-width: 100%;
}

/* TOP 3 */
#top3-section * {
  text-align: center;
  text-decoration: none;
  color: #231f20;
  position: relative;
}

#top3-section h1,
#top3-section h2,
#top3-section h3 {
  color: #231f20;
}


.top3-title {
  @apply mb-1;
  @apply block;
  @apply whitespace-nowrap;
  @apply overflow-hidden;
  @apply overflow-ellipsis;
  @apply text-center;
  @apply text-sm;
  @apply mt-1;
}

.top3-price {
  @apply text-sm;
}

.top3-img {
  @apply h-28;
  @apply flex;
  @apply items-center;
  @apply justify-center;
}


.top3-img img {
  @apply flex;
  @apply max-h-24;
  @apply justify-center;
}

.top3-list {
  @apply grid;
  @apply grid-cols-3;
  @apply w-full;
}

.top3-col {
  @apply px-3;
}





/* AUTH */
.auth-form * {
    text-align: left;
}

.auth-form button {
    text-align: center;
}

/* MOBIL */
/* OPRET BRUGER */
.OpretBruger-container {
    margin: 2em 0 2em 0;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form input {
    margin-bottom: 2em;
    padding: 5px 10px;
    outline: 1px solid darkgray;
}

.auth-form label {
    margin-bottom: 3px;
}

.auth-link {
    margin: 20px auto;
}

button {
    outline: none;
    border: none;
    background-color: #1C75BC;
    color: white;
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
}

button:active {
    background-color: dodgerblue;
}

/* LOG IND */
.logind-container {
  margin: 2em 0 2em 0;
}

.logind-container h2,
.OpretBruger-container h2 {
  font-size: 38px;
  margin-bottom: 1em;
}

/* PROFIL */
#profil-container {
    margin: 0 2em;
    display: flex;
    flex-direction: column;
}

#profil-container h2 {
    margin-top: 1em;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .OpretBruger-container {
        margin: 0 35%;
    }
    
    .logind-container {
        margin: 0 35%;
    }

    #profil-container {
        margin: 0 35%;
    }
}


/* ADD PRODUCT FORM */
/* MOBIL */
.product-form label {
    text-align: left;
}

#add-product-container button {
    cursor: pointer;
    background-color: #1C75BC;
    padding: 12px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}


#add-product-container button:active {
    background-color: #00A14B;
}

#add-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 0 2em;
    margin-bottom: 3em;
}

#add-dele-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

#add-dele-container select {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    padding: 7px 5px;
}

#add-product-container select {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    padding: 7px 5px;
}

.product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

}

.product-form input {
    padding: 8px 5px;
    margin-top: 3px;
    margin-bottom: 40px;
}

.product-form textarea {
    max-width: 100%;
    margin-top: 3px;
    margin-bottom: 40px;
    padding: 5px;
}

.product-form .description {
    height: 200px;
}

.product-form .tech-feature {
    height: 80px;
    max-height: 80px;
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
    #add-product-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        margin: 0 25%;
        margin-bottom: 3em;
    }

    #add-dele-container select {
        width: 300px;
        padding: 15px 5px;
    }
    
    #add-product-container select {
        width: 300px;
        padding: 15px 5px;
    }

    .product-form input {
        padding: 10px 10px;
        margin-top: 3px;
        margin-bottom: 40px;
    }
    
}




/* GALLERY PAGES */
#dele-gallery-navigation {
  margin-top: 40px;
  margin-bottom: 60px;
}

.dele-nav-link {
  color: white;
}

#dele-gallery-navigation nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#dele-gallery-navigation nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

#dele-gallery-navigation nav div:hover {
  background-color: #1C75BC;
  font-weight: 600;
}

#dele-gallery-navigation nav div {
  background-color: #00A14B;
  padding: 10px 45px;
  margin: 10px 10px;
}

.gallery-title {
  margin-bottom: 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none!important;
  text-align: center;
  font-size: .9rem;
  margin-top: 8px;
}

.gallery-list * {
  text-align: center;
  text-decoration: none;
  color: #231f20;
}


.gallery-list {
  @apply grid;
  @apply grid-cols-2;
  
}

.gallery-col {
  @apply mb-8;
  @apply px-3;
}

.gallery-container h1 {
  text-align: center;
  font-size: 2.5rem;
}

.gallery-container .underline {
  min-width: 100px;
  width: 100%;
  height: 1px;
  background-color: #231f20;
  margin-bottom: 1em;
}

.gallery-container {
  margin: 2em 15px;
}

.gallery-container img {
  @apply max-h-32;
  @apply m-auto;
}

.gallery-container .deck-img {
  max-height: 45px;
}

.gallery-size {
  @apply text-xs;
}

.gallery-price {
  @apply text-base;
}

.gallery-title {
  @apply text-xl;
}

@media only screen and (max-width: 1100px) {
  .gallery-list {
    justify-content: center;
    
  }
}


@media only screen and (min-width: 768px) {
  .gallery-list {
     @apply grid-cols-3;
  }

  .gallery-container .deck-img {
    max-height: 70px;
  }
}


@media only screen and (min-width: 1080px) {
  .gallery-list {
    @apply grid-cols-4;
  }

  .gallery-container {
    margin: 0 5em;
    margin-top: 3em;
  }

  .gallery-container .deck-img {
    max-height: 80px;
  }
}




/* DETAILS PAGE */
/* MOBIL */
.product-image {
  grid-area: image;
  padding: 10px;
  height: 220px;
  display: flex;
}

.product-image img {
  max-height: 100%;
  margin: auto;
}

.bar-details-img {
  height: 300px;
}
.deck-details-img {
  height: 150px;
}

.wheel-details-img {
  height: 280px;
}

.brand-logo {
  grid-area: brand;
  display: none;
}

.details-product-options h1 {
  grid-area: produktnavn;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 0.75em;
  text-align: left;
  @apply text-4xl;
}

.details-product-options p {
  grid-area: pris;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
  font-size: 1.2rem;
}

.details-buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center;
}

.details-buttons .cart-btn  {
  outline: none;
  border: none;
  margin-left: auto;
  padding: 10px 10px;
  width: 80%;
  background-color: #1C75BC;
  cursor: pointer;
  color: white;
  font-weight: 700;
  text-align: center;
  width: 200px;
  height: 50px;
}

.details-buttons .cart-btn-active  {
  outline: none;
  border: none;
  margin-left: auto;
  padding: 10px 10px;
  width: 80%;
  background-color: #062e4f;
  cursor: pointer;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 0;
  width: 200px;
  height: 50px;
}

.details-buttons .cart-btn-active p {
  text-align: center;
  margin: auto;
  font-size: 1rem;
}

.details-buttons .buynow-btn {
  outline: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px 10px;
  width: 80%;
  background-color: #00A14B;
  cursor: pointer;
  color: white;
  font-weight: 700;
  width: 200px;
  height: 50px;
}

.details-product-options {
  display: grid;
  grid-template-areas: 
                      "produktnavn"
                      "pris"
                      "image"
                      "buttons";
}

.details-product-description {
  border-top: .3px #6d6d6d solid;
  border-bottom: .3px #6d6d6d solid;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 30px;
}

.details-product-description {
  @apply mx-4;
  @apply py-6;
  border-top: .3px #6d6d6d solid;
  border-bottom: .3px #6d6d6d solid;
}

.details-product-description h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  @apply text-2xl;
  
}

.details-product-description h3 {
  margin-top: 15px;
  @apply text-xl
}

.details-product-specs h2 {
  @apply text-left;
  @apply text-2xl;
}

.details-product-specs {
  margin: 0 10px;
  margin-bottom: 2em;
}

.table .table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.table {
  width: 100%;
}

.table .table-row:nth-child(odd) {
  background-color: #00A14B;
  color: white;
}

.table .table-row:nth-child(even) {
  background-color: #1C75BC;
  color: white;
}

.table .table-row .table-td {
  margin: 0 10px;
  padding: 5px 0;
}

@media only screen and (max-width: 767px) {
  .details-buttons .cart-btn  {
    margin-left: auto;
    margin-right: auto;
  }
  
  .details-buttons .cart-btn-active  {
    margin-left: auto;
    margin-right: auto;
  }
  
  .details-buttons .cart-btn-active p {
    margin-left: auto;
    margin-right: auto;
  }
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
  .details-page {
      margin: 0 20px;
  }

  .product-image {
      grid-area: image;
      margin-right: auto;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
  }

  .product-image {
      height: 320px;
  }

  .bar-details-img {
      height: 330px;
  }
  .deck-details-img {
      height: 120px;
  }

  .wheel-details-img {
      height: 280px;
  }

  
  
  .brand-logo {
      grid-area: brand;
      display: block;
      max-width: 80px;
      margin-top: 10px;
      
  }
  
  .details-product-options h1 {
      grid-area: produktnavn;
      margin: 0;
      margin-left: 0px;
  }
  
  .details-product-options p {
      grid-area: pris;
      margin-top: 0;
      margin-left: 0px;
  }
  
  .details-buttons {
      grid-area: buttons;
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: space-evenly;
      margin-right: auto;
      margin-top: 2em;
  }
  
  .details-buttons .cart-btn  {
      margin: 0;
      margin-left: auto;
      margin-right: 1em;
  }
  
  .details-buttons .buynow-btn {
      margin: 0;
      margin-right: auto;
      margin-left: 1em;
  }
  
  .details-product-options {
      margin-top: 1em;
      margin-right: 2em;
      display: grid;
      grid-template-columns: 1.25fr 0.75fr;
      grid-template-rows: 0.5fr 0.2fr 0fr 1fr;
      grid-template-areas: 
                          "image brand"
                          "image produktnavn"
                          "image pris"
                          "image buttons";
  }
  
  .details-product-description {
      border-top: .2px #6d6d6d solid;
      border-bottom: .2px #6d6d6d solid;
      margin-right: 3em;
      margin-left: 3em;
      padding: 10px 25% 10px 0px;
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .details-product-description {
    @apply py-6;
    @apply border-gray-500;
    @apply border-t;
    @apply border-b;
  }
  
  .details-product-description h2 {
      margin-bottom: 0;
      padding-bottom: 0;
      
  }
  
  .details-product-specs {
      margin: 0 50px;
      margin-bottom: 2em;
  }
  
  .table .table-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .table .table-row:nth-child(odd) {
      background-color: #00A14B;
      color: white;
  }
  
  .table .table-row:nth-child(even) {
      background-color: #1C75BC;
      color: white;
  }
  
  .table .table-row .table-td {
      margin: 0 10px;
      padding: 5px 0;
  }

  .table .table-column-1 {
      grid-area: col-1;
  }

  .table .table-column-2 {
      grid-area: col-2;
  }

  .table {
      display: grid;
      column-gap: 20px;
      grid-template-areas: 
                          "col-1 col-2";
  }



}

@media only screen and (min-width: 992px) {
  .deck-details-img {
      height: 300px;
  }
}




/* CART */
.cart-container {
  max-width: 100%;
  margin: 1em 1em;
  
}

.cart-container h1 {
  @apply text-lg;
  @apply mb-2;
}

.buynow-btn-cart {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

.cart-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-item {
  height: 120px;
}

.cart-img {
  grid-area: item-img;
  display: flex;
  align-items: center;
  align-content: center;
  width: 150px;
  height: 100px;
}

.cart-item .cart-item-img {
  @apply flex;
  @apply justify-self-center;
  @apply align-middle;
  @apply my-auto;
  @apply pr-3;
}

.cart-img img {
  min-height: 50px;
  min-width: 50px;
  width: auto;
  height: auto;
  max-height: 100px;
  max-width: 140px;
  margin: auto;
}

.cart-item .cart-item-name {
  grid-area: item-name;
  margin-top: auto;
  margin-bottom: auto;
}

.cart-item .cart-item-price {
  grid-area: price;
  margin-bottom: auto;
}

.cart-item .remove-item-btn {
  grid-area: remove-btn;
  font-weight: 600;
  cursor: pointer;
  padding-left: 10px;
}

.cart-item .remove-item-btn:active {
  color: red;
  padding-left: 10px;
}

.cart-item {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  margin-bottom: 4em;
  padding: 10px;
  border: 2px solid #1c44659a;
  border-right: none;
  border-left: none;
  border-bottom: none;
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-areas: "item-img item-name remove-btn"
                        "item-img price remove-btn";
}

@media only screen and (min-width: 768px) {
  .cart-container {
      max-width: 100%;
      margin: 1em 2em;
      
  }
  
  .cart-content {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .cart-item .cart-item-img {
      grid-area: item-img;
      margin-bottom: auto;
      margin-top: auto;
      padding-right: 1em;
  }
  
  .cart-item .cart-item-name {
      grid-area: item-name;
      margin-top: auto;
      margin-bottom: auto;
  }
  
  .cart-item .cart-item-price {
      grid-area: price;
      margin-bottom: auto;
  }
  
  .cart-item .remove-item-btn {
      grid-area: remove-btn;
      font-weight: 600;
      cursor: pointer;
  }
  
  .cart-item .remove-item-btn:active {
      color: red;
  }
  
  .cart-item {
      margin-right: auto;
      margin-left: auto;
      width: 500px;
      max-width: 100%;
      margin-bottom: 4em;
      padding: 10px;
      border: 2px solid #1c44659a;
      border-right: none;
      border-left: none;
      border-bottom: none;
      display: grid;
      grid-template-columns: 0fr 1fr 0fr;
      grid-template-areas: "item-img item-name remove-btn"
                            "item-img price remove-btn";
  }
}


/* CURSOR POINTER */
button,
.top3-item,
.gallery-item,
.dele-nav-link,
.cart-product-link,
.cart-item-img,
#search-results li {
  cursor: pointer;
}

/* PAGES THAT NEED 100VH */
.profil-container,
.cart-container {
  min-height: 100vh;
}

.logind-container,
.OpretBruger-container {
  min-height: 65vh;
}

#cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cart-counter {
  @apply -ml-1;
}


.details-product-description {
  border-top: .3px #6d6d6d solid;
  border-bottom: .3px #6d6d6d solid;
}
