header * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: prohibition,sans-serif;
font-weight: 400;
font-style: normal;
}

header a {
    color: white;
    text-decoration: none;
    
}

@import url("https://use.typekit.net/idw8geh.css");


/*
background-color: #1C75BC;
background-color:#00A14B;
*/

